ALLOWED_HOSTS = ['*']

#WSGI_APPLICATION = 'gtfsintegrate.wsgi.application'

SECRET_KEY = '5@ch@sqd_+(4eaj2h60qofszfhuuxk#h#f#ehyb&b+drp@v0&s'

DEBUG = True

ALLOWED_HOSTS = ['']

DATABASES = {
     'default': {
         'ENGINE': 'django.contrib.gis.db.backends.postgis',
         'NAME': '',
         'USER': '',
         'PASSWORD': '',
         'HOST': '', # '127.0.0.1' probably works also
         'PORT': '',
     }
 }

