ALLOWED_HOSTS = ['*']

#WSGI_APPLICATION = 'gtfsintegrate.wsgi.application'

SECRET_KEY = ''

DEBUG = True

ALLOWED_HOSTS = ['']

DATABASES = {
    'default': {
        'ENGINE': '',
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

