geodjango/settings_secret.py
settings_secret.py
gs/gtfsfeeds
*.pyc
*.xml
*.osm
geodjango/settings.py

#migration folders
compare/migrations
gs/migrations
multigtfs/migrations
osmapp/migrations

#environment
venv
.venv
.idea
.vscode
