geodjango/settings_secret.py
settings_secret.py
*.pyc
*.xml
osmapp/static/node.osm
geodjango/settings.py

#environment
venv
.venv
.idea
.vscode

/gs/static/js/jquery-3.2.1.js
/gs/static/js/jquery-form.js
/gs/static/js/jquery.blockUI.js
/gs/static/js/jquery-validate.js
/gs/static/css/bootstrap-theme.min.css
/gs/static/css/bootstrap-theme.css.map
/gs/static/css/bootstrap-theme.min.css.map
/gs/static/css/bootstrap.css
/gs/static/css/bootstrap-theme.css
/gs/static/css/bootstrap.css.map
/gs/static/css/bootstrap.min.css
/gs/static/css/bootstrap.min.css.map
/gs/static/js/bootstrap.js
/gs/static/js/bootstrap.min.js
