{% extends 'gs/home.html' %}
{% load staticfiles %}
{% load static %}
{% load leaflet_tags %}

{% block map %}
<div id="loading">
    <img id="loading-image" src='http://i.stack.imgur.com/FhHRx.gif' alt="Loading..."/>
</div>
<br><br>

<div class="container-fluid">
    <div class="row">
        <div class="cold-md-12">
            <h2 id="feed-name-heading">You are working on {{ context.feed_name }}</h2>
            <h3>{{ context.feed_download_status }}</h3>
            {% if context.error != 'No errors' %}
            <h3>{{ context.error }}</h3>
            {% endif %}
            <h3>{{ context.connection_error }}</h3>
        </div>
    </div>
</div>
<div class="container buttons">
    <div class="row">
        <div class="col-md-5">
            <a class="btn btn-primary" id="export-stop" onclick="match_stop()"></a>
            <a class="btn btn-primary" id="add_to_list" onclick="add_to_match_list()">Add to Match List</a>
            <a class="btn btn-primary" id="export_all_stops" onclick="match_stops()">Match All Stops from Match List</a>
        </div>
    </div>
</div>
<div class="container">
    <a class="btn btn-primary" id="define-relation" href="/gtfs/define_relation/{{context.feed_id}}">Define Relation</a>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
</div>
<div id="bbox">
</div>
<div class="container">
    <div class="row widgets">
        <div class="col-md-6">

            <div id="info-div">
                <div class="information-box">
                    <table style="width:100%">
                        <tr>
                            <th>GTFS</th>
                            <th></th>
                            <th>Result</th>
                            <th></th>
                            <th>OSM</th>
                        </tr>
                        <tr>
                            <td id="gtfsstopid"></td>
                            <td id="stopidfromgtfs"></td>
                            <td id="resultstopid"></td>
                            <td id="stopidfromosm"></td>
                            <td id="osmstopid"></td>
                        </tr>
                        <tr>
                            <td id="gtfsstopcode"></td>
                            <td id="stopreffromgtfs"></td>
                            <td id="resultstopref"></td>
                            <td id="stopreffromosm"></td>
                            <td id="osmstopref"></td>
                        </tr>
                        <tr>
                            <td id="gtfsstopname"></td>
                            <td id="stopnamefromgtfs"></td>
                            <td id="resultstopname"></td>
                            <td id="stopnamefromosm"></td>
                            <td id="osmstopname"></td>
                        </tr>

                        <tr>
                            <td id="gtfsstopzone"></td>
                            <td>-</td>
                            <td> ------</td>
                            <td>-</td>
                            <td id="osmstopversion"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="map-box">
                <div id="map">{% leaflet_map "osmmap" callback="loadmapfunction" %}</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/configureajax.js' %}"></script>
<script type="text/javascript">
    window.onload = function () {
        document.getElementById("loading").style.display = "none"
    };

    $.ajaxSetup({
            async: false
    });

    var tags_to_osm = [];
    var data_to_osm = [];
    var clicked_gtfs_stop = [];
    var clicked_osm_stop = [];
    var data_to_match = [];
    var gtfs_stop;
    var osm_stop;
    var name_from ;//gtfs or  osm
    var ref_from ;//gtfs or osm
    var t_name, reference;
    var corr_feed_id = parseInt('{{context.feed_id}}');
    var feed_corr_data;
    const feed_id = corr_feed_id;
    var feed_name;
    var gtfs_to_osm_stop_name;
    var gtfs_to_osm_ref;

    //first hide all the buttons
    $('#export-stop').hide();
    $('#add_to_list').hide();
    $('#export_all_stops').hide();

    let feed_bounds;

    //get the correspondence form of the feed
    feed_corr_data = get_correspondene_form_data();
    [gtfs_to_osm_stop_name_full, gtfs_to_osm_ref_full] = get_tag_resemblence(feed_corr_data);
    try{
        gtfs_to_osm_stop_name_arr = gtfs_to_osm_stop_name_full.split('_');
        gtfs_to_osm_stop_name = gtfs_to_osm_stop_name_arr[1];

    }catch(error){
        alert(error);
    }

    function loadmapfunction(map, options){
        let mapLayer;
        const markerArray = [];
        const stopscoordinates_array = [];
        const gtfsstopsdata = '{% url "stopdata" %}';
        var circlegroup = L.featureGroup();//for 100m coverage
        var tags,keyvaluestrings;

        //get the feed name
        feed_name = get_feed_name();

        //get all the stops and show them on map
        $.getJSON(gtfsstopsdata, function (data) {

            let coordinates_arr = [];
            const length = data.features.length;
            for (let i = 0; i < length; i++) {

                if (data.features[i].properties.feed === feed_id) {
                    let lon, lat;
                    name = data.features[i].properties.name;
                    lat = data.features[i].geometry.coordinates[1];
                    lon = data.features[i].geometry.coordinates[0];
                    coordinates_arr = [lat, lon];
                    stopscoordinates_array.push(coordinates_arr);
                    const marker = L.marker(coordinates_arr).bindTooltip(name + ",lat=" + lat + ",lon=" + lon, {
                        direction: 'top'
                    }).on('click', markerOnClick).addTo(map);
                    marker.lat = lat;
                    marker.lon = lon;
                    marker.stopid = data.features[i].properties.stop_id;
                    marker.stopcode = data.features[i].properties.code;
                    marker.stopzone = data.features[i].properties.zone;
                    marker.normalized_name = data.features[i].properties.normalized_name;
                    if(gtfs_to_osm_stop_name === 'name'){
                        gtfs_to_osm_stop_name = 'normalized_name';
                    }
                    marker.comp_name = data.features[i].properties[gtfs_to_osm_stop_name];
                    marker.comp_ref = data.features[i].properties[gtfs_to_osm_ref_full];

                    var clickcircle;
                    function markerOnClick(e) {
                        try{
                            clicked_gtfs_stop = [];
                            $('#export-stop').hide();
                            $('#export_all_stops').hide();
                            $("#gtfsstopid").text(this.stopid);
                            if (this.stopcode === "") {
                                $("#gtfsstopcode").text("code undefined");
                            } else {
                                $("#gtfsstopcode").text(this.stopcode);
                            }
                            $("#gtfsstopname").text(this.normalized_name);
                            if (this.stopzone == null) {
                                $("#gtfsstopzone").text("zone undefined");
                            } else {
                                $("#gtfsstopzone").text(this.stopzone);
                            }
                            let gtfs_stop_id = this.stopid;
                            gtfs_stop = feed_id.toString() + "-" +this.stopid;
                            let gtfs_stop_name = this.normalized_name;

                            clicked_gtfs_stop = {
                                'name':this.comp_name,
                                'ref_stop_id':this.comp_ref,
                                'stop_id':this.stopid,
                                'name_field':gtfs_to_osm_stop_name,
                                'ref_field':gtfs_to_osm_ref_full
                            };

                            hide_table_elements();
                            if(clickcircle !== undefined){
                                map.removeLayer(clickcircle)
                            }
                            clickcircle = L.circle([this.lat, this.lon],{radius:100,color:'red',weight:.6, opacity:1000,fillColor:'#f03',fillOpacity:0.5}).addTo(map);
                    }catch(error){
                        alert(error + "in gtfs stop init");
                    }

                    }
                    markerArray.push(marker);
                }
            }
            const group = new L.featureGroup(markerArray);
            const bounds = group.getBounds();
            feed_bounds = bounds;
            map.fitBounds(bounds);
        });
        try{
            tags = get_tags();
            keyvaluestrings = get_kvstrings();
        }catch(error){
            alert(error+' in getting tags and keyvaluestrings');
        }

        const nodedata = '{% url "osmnodedata" %}';
        $.getJSON(nodedata, function (data) {

            try{
            var lat,lon;
            let coordinates_arr = [];
            const length = data.features.length;
            var curr_node_tags = [];

            const greenIcon = new L.Icon({
                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            });

            for (let i = 0; i < length; i++) {
                if(data.features[i].properties.feed === feed_id){

                    //get the tags and assign them
                    var node_tags_data =[];
                    var value_data = [];
                    let node_tags = data.features[i].properties.tags;
                    node_tags.forEach(function(tag_element){
                        for (let tag in tags){
                            if(tags[tag].id === tag_element){
                                try{
                                    let curr_node_tag = tags[tag];
                                    let key_id = curr_node_tag.key;
                                    let value_id = curr_node_tag.value;

                                    var key_string,value_string;

                                    for(let k =0 ; k< keyvaluestrings.length; k++){
                                        if(keyvaluestrings[k].id === key_id){
                                            key_string = keyvaluestrings[k].value;
                                        }
                                        else if(keyvaluestrings[k].id === value_id) {
                                            value_string = keyvaluestrings[k].value;
                                        }
                                    }

                                    node_tags_data.push({
                                        key:key_string,
                                        value:value_string
                                    });
                                }
                                catch(errors) {
                                }
                            }
                        }
                    });

                    const node_id = data.features[i].properties.id;
                    lat = data.features[i].geometry.coordinates[1];
                    lon = data.features[i].geometry.coordinates[0];
                    coordinates_arr = [lat, lon];
                    const marker = L.marker(coordinates_arr, {icon: greenIcon}).bindTooltip(
                        node_id + ",lat=" + lat + ",lon=" + lon, {
                            direction: 'top'
                        }
                        ).on('click', markerClick).addTo(map);
                    marker.nodeid = node_id;
                    marker.nodeversion = data.features[i].properties.version;

                    for(let s=0;s<node_tags_data.length;s++){
                        if(node_tags_data[s].key === 'name'){
                            marker.name = node_tags_data[s].value;
                        }
                        else if(node_tags_data[s].key === 'ref'){
                            marker.ref = node_tags_data[s].value;
                            ref_from = 'osm';
                        }
                    }
                }
            }
        }catch(error){
            alert(error+" osm stops init");
        }
        function markerClick(e) {
            try{
            name_from = '';
            ref_from = '';
            clicked_osm_stop = [];

            osm_stop = this.nodeid;
            $("#osmstopid").text(this.nodeid);
            $("#osmstopversion").text("version " + this.nodeversion);

            try{
                $("#osmstopname").text("name: " + this.name);
            }
            catch(error){
                console.log("No name");
            }
            try{
                $("#osmstopref").text("ref: "+ this.ref);
            }
            catch(error){
                console.log("No ref");
            }

            if(this.name !== undefined && this.ref !== undefined){
                alert("The stop is already has name and ref");
            }
                if(this.name !== undefined){
                    t_name = this.name;
                    name_from = 'osm';
                    console.log(t_name);
                }else{
                    t_name = gtfs_stop_name;
                    name_from = 'gtfs';
                    console.log(t_name);
                }
                //check whether the corr form has ref:operator or ref
                var ref_oper = true;
                var ref_in_gtfs_key;
                for(let key in feed_corr_data){
                    if(feed_corr_data[key] === 'ref'){
                        ref_in_gtfs_key = key;
                        ref_oper = false;
                    }else if(feed_corr_data[key] === "ref:operator"){
                        ref_in_gtfs_key = key;
                        ref_oper = true;
                    }
                }

                if(this.ref !== undefined){
                    reference = this.ref;
                    ref_from = 'osm';
                }else{
                    if(ref_oper){
                        reference = "ref:"+feed_name+"="+gtfs_stop_id;
                        ref_from = 'gtfs';
                    }else{
                        reference = gtfs_stop_id;
                        ref_from = 'gtfs';
                    }
                }


            clicked_osm_stop = {
                'node_id': osm_stop,
                'osm_name': this.name,
                'comp_name':t_name,
                'ref':reference
            };

            show_on_result(t_name, reference, name_from, ref_from);

            console.log(ref_in_gtfs_key);
            let jqDiv = $('#export-stop');
            jqDiv.show();
            jqDiv.text("Match " + gtfs_stop + " with " + osm_stop);
            $('#add_to_list').show();

        }catch(error){
            alert(error + " in osm stop click");
        }
    }
        });//osm  get data json

        console.log(tags_to_osm);

        try{
        const drawnItems = new L.FeatureGroup();
        map.addLayer(drawnItems);
        const drawControl = new L.Control.Draw({
            edit: {
                featureGroup: drawnItems
            }
        });
        map.addControl(drawControl);

        let num = 0;
        let boxbounds = '';
        map.on('draw:created', function (e) {

            const type = e.layerType,
            layer = e.layer;

            if (type === 'rectangle') {
                layer.on('mouseover', function () {
                    if (num === 0) {
                        alert("After defining the bbox please click on the box to download data in that part");
                        num += 1
                    }
                });
                layer.on('click', function () {
                    const bounds = layer.getLatLngs().toString();
                    boxbounds = boxbounds + bounds;
                    console.log("ON click " + boxbounds);
                    num += 1;
                    $("#bbox").append("<h3>Included box" + num + "</h3>");
                })
            }

            drawnItems.addLayer(layer);
        });

        $('#definebox').on("click", function () {
            const boundurl = '/api/feedbounds/';
            const innerbounds = JSON.stringify(boxbounds);
            console.log(innerbounds);
            $.ajax({
                url: boundurl,
                type: "POST",
                data: {
                    'feed_id': feed_id,
                    'operator_name': feed_name,
                    'inner_bound': innerbounds
                },
                success: function () {
                    console.log('Posted data to feed bounds')
                },
                error: function (xhr, status, e) {
                    console.log("ER " + status)
                }
            });
        });
    }catch(error){
        alert(error+" in relation bounding box");
    }

}

function get_correspondene_form_data(){
    var feed_corr_data_result;
    console.log('gettings corr');
    $.ajax({
        url:'/api/correspondencedata',
        type:'GET',
        dataType:'json',
        success: function(corr_data){
            for(let i=0; i< corr_data.length; i++){
                if(corr_data[i].feed_id === corr_feed_id){
                    feed_corr_data_result = corr_data[i];
                }
            }
        }
    });

    return feed_corr_data_result;
}

function get_tag_resemblence(corr_data){
    let corr_form_keys = Object.keys(corr_data);
    let corr_form_values = Object.values(corr_data);
    console.log(corr_form_keys);
    console.log(corr_form_values);
    var name_resem = '';
    var ref_resem = '';

    corr_form_keys.forEach(function(key){
        if(corr_data[key] === 'name'){
            name_resem = key;
        }else if(corr_data[key] === 'ref'){
            ref_resem = key;
        }
    });

    return [name_resem, ref_resem];
}

function get_feed_name(){
    let feedurl = "/api/feeddata/";
    var feed_name;
    $.ajax({
        type: "GET",
        url: feedurl,
        dataType: 'json',
        success: function (data) {
            for (let i = 0; i < data.length; i++) {
                if (data[i].id === feed_id) {
                    feed_name = data[i].name;
                    break;
                }
            }
        },
        error: function (xhr, status, e) {
            alert("error " + status)
        }
    });

    console.log(feed_name);
    return feed_name;
}

function hide_table_elements(){
    $("#osmstopid").text('');
    $("#osmstopversion").text('');
    $("#osmstopname").text('');
    $("#osmstopref").text('');
    $('#resultstopref').text('');
    $('#resultstopname').text('');
    $("#stopnamefromgtfs").text('');
    $("#stopnamefromosm").text('');
    $("#stopreffromgtfs").text('');
    $("#stopreffromosm").text('');
}

function get_tags(){
    console.log('getting all the tags');
    var tags;
    $.ajax({
        url:'/api/tagdata/',
        type:'GET',
        dataType:'json',
        success:function(tagsdata){
            tags = tagsdata;
            console.log('Loaded all the tags')
        },
        error:function(xhr, status, e){
            console.log('Error')
        }
    });

    return tags;
}

function get_kvstrings(){
    console.log('Getting keyvaluestrings');
    var kvstrings;
    $.ajax({
        url:'/api/keyvaluestringdata/',
        type:'GET',
        dataType:'json',
        success:function(keyvaluestringdata){
            kvstrings = keyvaluestringdata;
            console.log('Got key values');
        },
        error:function(xhr, status, e){
            console.log('Cannot get keyvaluestrings');
        }
    });

    return kvstrings;
}

function match_stop(){

    if(name_from === 'osm' && ref_from === 'osm'){
        let choice = prompt("Please Select which tag in OSM stop should include clicked gtfs stop data");

    }
    data_to_match = [];
    var data = {
        'feed_id':feed_id,
        'gtfs':clicked_gtfs_stop,
        'osm':clicked_osm_stop
    };

    data_to_match.push(data);
    console.log("Data to match "+data_to_match);
    var match_stop_url = "{% url 'match_stop' %}";
    $.ajax({
            url: match_stop_url,
            method: 'POST',
            data: {
                'data_to_match':JSON.stringify(data_to_match),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (data) {
                alert("Posted data to osm ");
                $('#export-stop').hide();
            },
            error: function (xhr, status, e) {
                alert("Something went wrong");
            }
    });
}

function add_to_match_list(){
    var data = {
        'feed_id':feed_id,
        'gtfs':clicked_gtfs_stop,
        'osm':clicked_osm_stop
    };
    data_to_match.push(data);
    $('#add_to_list').hide();
    $('#export_all_stops').show();
    console.log(data_to_match);
}

function match_stops(){
    var match_stop_url = "{% url 'match_stops' %}";
    console.log("Sending "+data_to_match.length+" stops to JOSM Editor");
    let data_to_match_JSON = JSON.stringify(data_to_match);

    console.log("Data list to match"+data_to_match_JSON);
    $.ajax({
        url: match_stop_url,
        method: 'POST',
        data: {
            'data_to_match': data_to_match_JSON,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (data) {
            alert("Posted data to osm ");
            $('#export-stop').hide();
        },
        error: function (xhr, status, e) {
            alert("Something went wrong");
        }
    });
}

function show_on_result(name, ref, name_from, ref_from){

    $("#resultstopname").text(name);
    $("#resultstopref").text(ref);

    if(name_from === 'gtfs'){
        $("#stopnamefromgtfs").text('>');
    }else if(name_from === 'osm'){
        $("#stopnamefromosm").text('<');
    }

    if(ref_from === 'gtfs'){
        $("#stopreffromgtfs").text('>');
    }else if(ref_from === 'osm'){
        $("#stopreffromosm").text('<');
    }
}



</script>

{% endblock %}
