{% extends 'gs/home.html' %}
{% block main %}

<div id="loading">
    <img id="loading-image" src='http://i.stack.imgur.com/FhHRx.gif' alt="Loading..."/>
</div>

<div class='container'>
<h1>Define Conversion Rules</h1>
    <div class="container conv">
        <div class="row">
            <div class="col-md-6">
                <div class="correspondence-box" id="add-conv">
                    <input type="text" id="present-conv-box-first">
                    <input type="text" id="replace-conv-box">
                    <button class="btn btn-primary" id="add-box">+</button>
                   <button class="btn btn-primary" id="save-btn">save</button>
                </div>
            </div>
            <div class="" col-md-6>
                <div class="tags-box">
                	<h2> Stops with Abbrevations in your feed </h2>
                    {% for stop in context.stops_for_conversion %}
                    	<h3>-> {{ stop }} </h3>
                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <a class="btn btn-primary" id="proceed-btn" href='map/compmapview/{{context.feed_id}}'>Proceed</a>
</div>

<script>
	window.onload = function () {
        document.getElementById("loading").style.display = "none"
    };
    
    const feed_id = '{{context.feed_id}}';
    $('#proceed-btn').hide()
   $("#add-box").on("click",function(){
   		var inputField = $('<input type="text" id = "present-conv-box"><input type="text" id= "replace-conv-box">')
   		$("#add-conv").append(inputField)
   });

   $("#save-btn").on("click",function(e){
   	$("#save-btn").hide();
   	var corr_form_id = '{{context.corr_form_id}}'
   	var list = $('#add-conv').find('input').map(function() {
		  return $(this).val();
		}).get();
   	let present_string_arr =[] 
   	let replace_string_arr = []

   	for (var i=0;i<list.length;i++){
	    if ((i+2)%2==0) {
	        present_string_arr.push(list[i]);
	    }
	    else {
	        replace_string_arr.push(list[i]);
	    }
	}

	console.log("Posting data to conversion model");

   	var conversionurl = '{% url "conversionview" %}'

	function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    console.log(csrftoken);

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ajaxStart(function(){
    	document.getElementById("loading").style.display = "block";
    });

	$.ajax({
		url:conversionurl,
		type:'POST',
		aysnc:false,
		data:{
			'feed_id':feed_id,
			'corr_form_id':corr_form_id,
			'present_str[]':present_string_arr,
			'replace_str[]':replace_string_arr,
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		},
		success:function(data){
			console.log("Posted data");
			document.getElementById("loading").style.display="none";
			$("#proceed-btn").show();
		},
		error:function(xhr,status,e){
			alert("Error sending data to conversion model");
		}
	});
   });
</script>

{% endblock %}