{% extends 'gs/home.html' %}

{% block main %}
<div id="loading">
    <img id="loading-image" src='http://i.stack.imgur.com/FhHRx.gif' alt="Loading..."/>
</div>
<div class="container">
    <h2 id="feed-name-heading">You are working on {{ context.feed_name }}</h2>
    <h3>{{ context.feed_download_status }}</h3>
    <h3>{{ context.error }}</h3>
    <h3>{{ context.connection_error }}</h3>
    <h3>{{ context.saved_status }}</h3>

    <h1>Define Correspondence</h1>

    <div class="container corr">
        <div class="row">
            <div class="col-md-6">
                <div class="correspondence-box">
                    <h2 id="form-heading">Stops</h2>
                    <form method="POST" class="feed-form" action="{% url 'save_correspondence' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save-corr btn btn-primary"> Save Correspondence </button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tags-box">
                    <h2>Keys in downloaded OSM data</h2>
                    {% for key_string in context.key_strings %}
                    <div><h3 id='tag-key'>-> {{ key_string }}</a></h3></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function () {
        document.getElementById("loading").style.display = "none"
    };
    
    const feed_id = '{{context.feed_id}}';
   	
   	$('label[0]').hide()

   	$('label').each(function(i){
   		if(i == 0)
   	   		$(this).hide()
   	});

   	$('#feed_id').val(feed_id);
    $('#stop_id').val('ref');
    $('#stop_name').val('name');
    $('#stop_zone').val('zone');
    $('#stop_url').val('url');

    $('#feed_id').hide();

</script>
{% endblock %}
