{% extends 'gs/home.html' %}

{% block main %}
    <div id="loading">
        <img id="loading-image" src='http://i.stack.imgur.com/FhHRx.gif' alt="Loading..."/>
    </div>
    <div class="container">
        <h2 id="feed-name-heading">You are working on {{ context.feed_name }}</h2>
        <h3>{{ context.feed_download_status }}</h3>
        <h3>{{ context.error }}</h3>
        <h3>{{ context.connection_error }}</h3>

        <h1>Define Correspondence</h1>
        <div id="keys" class="container">
            {% for key_string in context.key_strings %}
                <div id='feeds-box'><h3 id=''><a id='click'>{{ key_string }} +</a></h3></div>
            {% endfor %}
        </div>


    </div>

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("loading").style.display = "none"
        };
        let feed_id = {}; //download using api
    </script>
{% endblock %}
