{% extends 'gs/home.html'%}
{% block relation %}
<br><br>

<h1 id="relheading">Define relations </h1>
<div class="container">
<div class="row">
<div class="col-xs-4 route-form" id="route_form">
        <h2 id="form_heading">Enter Routes Correspondence</h2>
        <form method="POST" class="route-form" action="{% url 'save_route_corr' %}">
            {% csrf_token %}
            {{ route_form.as_p }}
			<h2> Enter Extra Fields </h2>
			<div id="extrafield"></div>
            <button type="submit" class="save btn btn-primary"> Save</button>
        </form>
</div>

<div class="col-xs-4 route-form" id="route_form">
        <h2 id="form_heading">Enter Agency Correspondence</h2>
        <form method="POST" class="route-form" action="{% url 'save_ag_corr' %}">
            {% csrf_token %}
            {{ agency_form.as_p }}
            <button type="submit" class="save btn btn-default"> Save</button>
        </form>
</div>
</div>
</div>

<div class="container">
<div class="row">
	<div class="col-xs-4" id="extra_fields_form">
		<h2> Enter Extra Fields </h2>
		<div id="extrafield"></div>
	</div>
	<div class="col-xs-4" id="extra_fields_form">
		<h2> Sample Data </h2>
		<div id="sample_data"></div>
	</div>
</div>
</div>
<script type="text/javascript">
	var data_url = "/api/routedata/";
    let feed_id = '{{context.feed_id}}';
    feed_id = parseInt(feed_id);

   	$('label').each(function(i){
		if(i == 0)
	   		$(this).hide()
   	});

   	$('#route_feed_id').val(feed_id);
    $('#route_feed_id').hide();
    $('#agency_feed_id').val(feed_id);
    $('#agency_feed_id').hide();


    $("#short_name").val('ref');
    $("#long_name").val('name');
    $("#desc").val('description');
    $("#rtype").val('route_master');
    $("#url").val('url');
    $("#color").val('colour');
 	$("#text_color").val('text_colour');

    const sample_data = [];
    const example_data = [];
    $.ajax({
		url:data_url,
		type:"GET",
		dataType:"json",
		async:true,
		success:function(data){
            let flag = 0;
            for(let i=0;i<data.length;i++){
				if(data[i].feed == feed_id){
					if(flag == 0){
						for(key in data[i]){
							console.log(data[i][key])
						}
						flag++;
						for (var key in data[i]){
                            const value = data[i][key];
                            $("#sample_data").append("<h4>"+key+" : "+value+"</h4><br>")}
					}
					$("#ex-field-ep").append("<h4>"+data[i].extra_data+"</h4><br>");
				}
			}
		},
		error:function(status,xhr,e){
			alert(status + xhr +e)
		}
	});
    const extra_data_url = "/api/extrafielddata/";

    console.log("Configuring ajaxSetup");
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
	$.ajax({
		url:extra_data_url,
		type:"GET",
		dataType:"json",
		async:true,
		success:function(data){
            let count = 0;
            for(let i=0;i<data.length;i++){
				if(data[i].feed_id == feed_id){
					count++;
					$("#extrafield").append("<h3>" + data[i].field_name+"<h3>    <input type='textbox' id='"+data[i].field_name+"'><a class='btn btn-primary' id='"+data[i].field_name+"' onclick='saveextrafunc(this.id)'>store</a>");
				}
			}
			if(count == 0){
				$("#extrafield").append("<h3>No extra data</h3>");
			}
		},
		error:function(status,xhr,e){
			alert(status + xhr +e)
		}
	});

	function saveextrafunc(id){
        const v = $("#" + id).val();
        $.ajax({
                url: '/gtfs/saveextra/',
                type: "POST",
                data: {
                    'feed_id': feed_id,
                    'key':id,
                    'val':v,
               		'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function () {
                    console.log('Posted data to view')
                },
                error: function (xhr, status, e) {
                    console.log("ER " + status)
                }
            });
	}

</script>

{% endblock %}
