{% extends 'gs/home.html' %}

{% block main %}
    <div id="loading">
        <img id="loading-image" src='http://i.stack.imgur.com/FhHRx.gif' alt="Loading..."/>
    </div>

    <div class="container col-xs-6" id="form_download_inform">
        <h2 id="download-url">Download Feed from <a href="https://transitfeeds.com/feeds"
                                                    target="_blank">TransitFeeds</a>
        </h2>
        <div id="status">
            <h2 id="status-header">Feed Status</h2>
            <h3 id="feed-status"></h3>
            <h3 id="feed-status2"></h3>

        </div>
    </div>
    <div class="container col-xs-3" id="feed_form">
        <h2 id="form_heading">New GTFS Feed </h2>
        <form method="POST" class="feed-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default"> Save</button>
        </form>
    </div>

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("loading").style.display = "none"
        };
        let forms_list;
        {{context.forms_list}}
        const $form = $('.feed-form');
        $form.submit(function (event) {
            //event.preventDefault();
            document.getElementById("loading").style.display = "block";
            const formurl = $("#formurl").val();
            const formname = $("#formname").val();
            const formosmtag = $("#formosmtag").val();
            const formgtfstag = $("#formgtfstag").val();
            const formfrequency = $("#formfrequency").val();

            let feed_entry_found = 0;
            let feed_instances_in_db = 0;
            let feed_name = '';
            let form_timestamp;

            const formdata = "/api/formdata/";
            console.log("calling " + formdata);

            $.ajax({
                type: "GET",
                url: formdata,
                dataType: 'json',
                async: false,
                success: function (data) {
                    const num_of_forms = data.length;
                    for (let i = 0; i < num_of_forms; i++) {

                        if (data[i].url === formurl && data[i].osm_tag === formosmtag && data[i].gtfs_tag === formgtfstag) {
                            feed_entry_found = 1;
                            feed_instances_in_db += 1;
                            feed_name = data[i].name;
                            form_timestamp = data[i].timestamp;
                        }
                    }
                },
                error: function () {
                    console.log("Feed is not available at " + i);
                }
            });

            if (feed_entry_found > 0) {
                $("#feed-status").text("->Feed is already present with name of operator " + feed_name);
            }
            else {
                $("#feed-status").text("->Feed not found Downloading the new feed wait until the feed is downloaded");
            }

            function stateChange(newState) {
                setTimeout(function () {
                    if (newState === -1) {
                        alert('Processsing HAS STOPPED');
                    }
                }, 5000);
            }

            stateChange();

            const today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth() + 1;
            let yy = today.getFullYear();

            dd = dd.toString();
            mm = mm.toString();
            yy = yy.toString();

            if (dd.length === 1) {
                dd = '0' + dd;
            }
            if (mm.length === 1) {
                mm = '0' + mm;
            }

            let current_date = yy + '-' + mm + '-' + dd;
            current_date = Date.parse(current_date);
            const form_date = Date.parse(form_timestamp.substring(0, 10));

            if (feed_entry_found > 0 && (current_date - form_date) / 86400000 > formfrequency) {
                $("#feed-status2").text("Feed in Database is updaing to latest version");
            }

        });

    </script>
    <script src="gs/form.js"></script>

{% endblock %}
