{% load staticfiles %}
{% load static %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% block extra_assets %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

<!DOCTYPE html>
<html>

<head>

    {% leaflet_css %}
    {% leaflet_js %}

    <meta charset="utf-8"/>
    <title>GTFS Integrator</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/h2.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<div class=" navbar-fixed-top" id="title-main" >
    <div class="row" >
    <div class="col-xs-1">
        <img id ="osm-logo" src="{% static 'img/Buslogo.png' %}">
    </div>
    <div class="col-xs-11" >
        <h2 id="title-text" >GTFS to OSM Integration Tool </h2>
    </div>
</div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top" id="title"role="navigation">
    <div class="container" >
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="nav-text" href='{% url "home" %}'>Explore</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a id="nav-text" href="{% url 'feed_list' %}">Feeds</a></li>
                <li><a id="nav-text" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
            </ul>
        </div>
    </div>
</div>
{% block map %}
{% endblock %}
<br>
{% block main %}
{% endblock %}

{% block relation %}
{% endblock %}

<script type="text/javascript">
</script>

</body>
</html>
