{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>GTFS Integrator</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <link rel="stylesheet"  href ="{% static 'css/bootstrap.min.css' %}" type="text/css" />
        <link rel="stylesheet"  href ="{% static 'css/h.css' %}" type="text/css" />

        <script type="text/javascript" src="{% static 'js/gtfsapp.js' %}"></script>
        <script  src="{% static 'js/jquery-3.2.1.js' %}"></script>
        <script  src="{% static 'js/bootstrap.js' %}"></script>
        
        <link rel="stylesheet" href="https://openlayers.org/en/v4.6.4/css/ol.css" type="text/css">
        <script src="https://openlayers.org/en/v4.6.4/build/ol.js"></script>

    </head>
    <body>
    <div id="load"></div>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href='{% url "home" %}'>Explore</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li{% block nav_feed_active_class %}{% endblock %}><a href="{% url 'feed_list' %}">Feeds</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <br><br><br><br>

    <div class="container" id="box1">
        <a class="btn btn-primary" href="{% url 'feed_form' %}">Enter GTFS Feed</a>
    </div>
    <div class="container" id="box2">
        <a class="btn btn-primary" href="{% url 'map' %}">Load GTFS Data </a>
    </div>
    <br>
    <div class="container-fluid" id="contents">
    {% block main%}
    {% endblock %}
    </div>
</div>
    <script type="text/javascript">
        
    </script>
    </body>
</html>