{% extends 'gs/home.html' %}
{% load leaflet_tags %}

{% block main %}
<div class="container">

    <h3>{{context}}</h3>

    <div class="col-xs-3">
    <a class="btn btn-primary" href="osm/">Load Openstreetmap Data </a>
    <br><br>
    <a class="btn btn-primary" href="stops/">Get Stops </a>
    <br><br>
    <a class="btn btn-primary" href="route_masters/">Get route_master relations</a>
    <br><br>
    <a class="btn btn-primary" href="#">Get route relations</a>
    </div>

     <div class="col-xs-9">
    {% leaflet_map "osmmap" callback="loadmapfunction"%}
    </div>
</div>

<script type="text/javascript">
        var nodedata = '{% url "nodedata" %}';
        function loadmapfunction(map, options){
            //$.getJSON(waydata, function(data){
                //L.geoJson(data).addTo(map);
            //})
            $.getJSON(nodedata, function(data){
                var mapLayer = L.geoJSON().addTo(map);
                mapLayer.addData(data);
                L.marker([50.5, 30.5]).addTo(map);
            })
        }
</script>

{% endblock %}
