{% extends 'gs/home.html' %}

{% block main %}
        <div id="input">
            <form method="post" enctype="multipart/form-data" action="gtfs/downloading_page/">
                {% csrf_token %}
                <input type="file" name="gtfsfile">
                <button type="submit">UPLOAD A GTFS FILE</button>
            </form>

        </div>
        <div id="gtfs_data">
            {% if context %}
                <h2>{{context}}</h2>
            {% endif %}
        </div>

        <div class="container">
        <!-- Here Overpass Api should be used to retrieve data -->
            <div class="col-xs-12" >
                <div class="form-group">
                <label id="query_label">Enter Overpass query</label>
                    <textarea class="form-control" rows="3" cols = "50"></textarea>
                    <button class="btn btn-primary" id="query">Execute on Map</button>
                </div>
            </div>
        </div>

        <div id="map" ></div>

        <script type="text/javascript">
        $("#query").on("click",function(){
            var map;

          var styles = {
            'highway': {
              'service': new ol.style.Style({
                stroke: new ol.style.Stroke({
                  color: 'rgba(255, 255, 255, 1.0)',
                  width: 2
                })
              }),
              '.*': new ol.style.Style({
                stroke: new ol.style.Stroke({
                  color: 'rgba(255, 255, 255, 1.0)',
                  width: 3
                })
              })
            },
          };

          var vectorSource = new ol.source.Vector({
            format: new ol.format.OSMXML(),
            loader: function(extent, resolution, projection) {
              var epsg4326Extent =
                  ol.proj.transformExtent(extent, projection, 'EPSG:4326');
              var client = new XMLHttpRequest();
              client.open('POST', 'https://overpass-api.de/api/interpreter');
              client.addEventListener('load', function() {
                var features = new ol.format.OSMXML().readFeatures(client.responseText, {
                  featureProjection: map.getView().getProjection()
                });
                vectorSource.addFeatures(features);
              });
              var query = '(node(' +
                  epsg4326Extent[1] + ',' + epsg4326Extent[0] + ',' +
                  epsg4326Extent[3] + ',' + epsg4326Extent[2] +
                  ');rel(bn)->.foo;way(bn);node(w)->.foo;rel(bw););out meta;';
              client.send(query);
            },
            strategy: ol.loadingstrategy.bbox
          });

          var vector = new ol.layer.Vector({
            source: vectorSource,
            style: function(feature) {
              for (var key in styles) {
                var value = feature.get(key);
                if (value !== undefined) {
                  for (var regexp in styles[key]) {
                    if (new RegExp(regexp).test(value)) {
                      return styles[key][regexp];
                    }
                  }
                }
              }
              return null;
            }
          });

          var raster = new ol.layer.Tile({
            source: new ol.source.BingMaps({
              imagerySet: 'Aerial',
              key: 'AlV-CVG2BSoc6SbMgnaXPIK-i4otW2ZrwkSvlD4Ko151k0eoc9uREOjDrThGubAz'
            })
          });

          map = new ol.Map({
            layers: [raster, vector],
            target: document.getElementById('map'),
            controls: ol.control.defaults({
              attributionOptions: {
                collapsible: false
              }
            }),
            view: new ol.View({
              center: [739218, 5906096],
              maxZoom: 19,
              zoom: 17
            })
          })
        });   
        </script>

{% endblock %}