{% extends 'gs/home.html' %}

{% block main %}

<div class="container">
    <div class="col-xs-6" id="box1">
        <h2>Work with last feed </h2>
        <a class="btn btn-primary" href="{% url 'latest-feed' %}">{{context.feed}}</a>
    </div>
    <div class="col-xs-6" id="box1">
        <h2>Available feeds</h2>
        {% if context.feeds %}
        {% for feed in context.feeds %}
            <h3>{{feed}}</h3>
        {% endfor %}
        {% endif %}
    </div>

</div>

<div class="container-fluid">
    <div id="box1">
        <a id="download-button" class="btn btn-primary" href="{% url 'feed_form' %}">Enter GTFS Feed</a>
    </div>
</div>
{% endblock %}