{% extends 'gs/home.html' %}
{% load staticfiles %}
{% load static %}
{% load leaflet_tags %}

{% block main %}
<div class="header" id="myHeader">
  <h2 id="corr-heading">Route Relations</h2>
</div>
<div class="container" >
	<div class="row">
		<div class="col-xs-6" >
			<div id="rel-info-box" class="rel-information-box">
				<h3>Lines from Routes.txt</h3>
				<div id="route-lines"></div>
			</div>
		</div>
		<div class="col-xs-6 ">
				<div id="relmap"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var map = L.map('relmap').setView([51.505, -0.09], 13);
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
	
	const feed_id = parseInt('{{context.feed_id|safe}}');
	var routes_data_json = '{{context.routes_data | safe}}';
	var routes_data = JSON.parse(routes_data_json)
	var complete_data_json = '{{context.complete_data | safe}}';
	var complete_data = JSON.parse(complete_data_json);
	console.log(routes_data);
	$.ajaxSetup({
        async: false
    });
    Object.keys(routes_data).forEach(function(key, index){
			var html = "<div class='linebtn'><a class='btn btn-primary' onclick='clickfunc(this.id)' id='"+index+"'>"+routes_data[key]+"</a></div><br>";
			$('#route-lines').append(html);	
		});
    function clickfunc(id){
		    complete_data[id].forEach(function(stopdata){
		    	var lon =  parseInt(stopdata[3][3]);
		    	var lat = parseInt(stopdata[4][4])
		    	var marker = L.marker([lat, lon]).addTo(map);
		    });

		    /*var polyline = new L.Polyline(line_stops, {
			    color: 'red',
			    weight: 3,
			    opacity: 0.5,
			    smoothFactor: 1
			});
			polyline.addTo(map);

			bounds = new L.LatLngBounds(line_stops);
			map.fitBounds(bounds);*/
	}


			/*var point = new L.LatLng(lat,lon);
			var polyline = new L.Polyline(line_stops, {
			    color: color,
			    weight: 3,
			    opacity: 0.5,
			    smoothFactor: 1
			});
			polyline.addTo(map);

			bounds = new L.LatLngBounds(line_stops);
			map.fitBounds(bounds);*/
		
        
</script>
{% endblock %}